<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up | Context</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/bootstrap.bundle.min.js"></script>
</head>
<body style="background-color:#f5f6fa;">

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <form role="search" action="/search" method="POST">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search" name="searchText">
            </form>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="/reading-list" class="nav-link px-2 link-dark">Reading List</a></li>
            <li><a href="/create-article" class="nav-link px-2 link-dark">Create Article</a></li>
            <li><a th:href="@{/articles(from=${username})}" class="nav-link px-2 link-dark">My Articles</a></li>
            <li><a th:href="@{'/profile/' + ${username}}" class="nav-link px-2 link-dark">My Profile</a></li>
            <li><a href="/settings" class="nav-link px-2 link-dark">Settings</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <a href="/login"><button type="button" class="btn btn-outline-primary me-2">Login</button></a>
            <a href="/signup"><button type="button" class="btn btn-primary">Sign-up</button></a>
        </div>
    </header>
</div>

<div class="text-center row">
    <div class="col"></div>
    <div class="col">
    <h2>Sign Up</h2><hr/>
    <form method="POST" action="/signup" th:object="${blogUser}">
        <input type="text" class="form-control" name="email" placeholder="E-mail" th:field="*{email}" /><br/>
        <input type="text" class="form-control" name="username" placeholder="Username" th:field="*{username}" /><br/>
        <input type="password" class="form-control" name="password1" placeholder="Password" th:field="*{password}" /><br/>
        <input type="password" class="form-control" name="password2" placeholder="Retype Password" th:field="*{retypePassword}" /><br/>
        <input type="submit" name="signUpButton" class="btn btn-primary" value="Sign Up"/>
    </form>
    </div>
    <div class="col"></div>
</div>



</body>
</html>